.noticias-container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.cabecalho {
    text-align: center;
    margin-bottom: 30px;
}

.cabecalho h1 {
    color: #000000;
    font-size: 2.5rem;
}

.lista-noticias {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.card-noticia {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-noticia:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card-noticia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.conteudo-noticia {
    padding: 12px;
}

.card-noticia h2 {
    color: black;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 20px;
    text-align: left;
}


.ler-mais {
    display: inline-block;
    background: darkred;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.ler-mais:hover {
    background: rgb(207, 15, 15);
    color: white;
}

.icone-relogio {
    margin-right: 5px;
    color: #000000;
    font-size: 13px;
    vertical-align: middle;
}

.data {
    display: inline-flex;
    align-items: center;
    color: #363636;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

/* Estilos para a paginação */
.paginacao {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    gap: 8px;
    flex-wrap: wrap;
}

.botao-paginacao {
    padding: 8px 12px;
    border: 1px solid #a8a8a8;
    background: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #000000;
}

.botao-paginacao:hover:not(:disabled) {
    background: #f0f0f0;
}

.botao-paginacao.ativo {
    background: rgb(192, 3, 3);
    color: rgb(0, 0, 0);
    border-color: rgb(192, 3, 3);
}

.botao-paginacao:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Melhorias para responsividade */
@media (max-width: 600px) {
    .paginacao {
        gap: 4px;
    }
    
    .botao-paginacao {
        padding: 6px 10px;
        font-size: 13px;
    }
}