.ia {
  width: 1080px;
  height: 400px;
  display: block;
  margin: 20px auto; 
}

.aee {
   width: 1080px;
  height: 400px;
  display: block;
  margin: 20px auto; 
}

.nef {
   width: 1080px;
  height: 400px;
  display: block;
  margin: 20px auto; 
}

.redacao {
   width: 1080px;
  height: 400px;
  display: block;
  margin: 20px auto; 
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}