.idptodos {
  width: 1080px;
  height: 400px;
  display: block;
  margin: 20px auto; 
}

.golfinho {
   width: 1080px;
  height: 400px;
  display: block;
  margin: 20px auto; 
}

.aca {
   width: 1080px;
  height: 400px;
  display: block;
  margin: 20px auto; 
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}